.labels-keyfigure {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 11px;
     font-weight: bold;
     text-align: center;
     width: 40px;
     height: 15px;     
     border: 1px solid gray;
     white-space: nowrap;
     opacity: 1.0;
}

.labels-text {
     color: black;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 11px;
     font-weight: bold;
     text-align: center;
     height: 15px;     
     border: 1px solid gray;
     white-space: nowrap;
     opacity: 1.0;
}
	 
.map-info-window{
	min-width: 100px;
	max-width: 400px;
}
	
.marker-cluster div:after {
	content: attr(data-content);
	color:grey;
	font-size: 80%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:bold;
    position:absolute;
    left:56px;
    top:0px;
	}
	
.marker-cluster:hover div:after{
	color:black;
	font-size: 100%;
	}

.arrow-up:after {
	content:"";
    border-color:  transparent transparent green transparent;
    border-style:solid;
    border-width:10px;
    width:0;
    height:0;
    position:absolute;
    bottom:45px;
    left:40px
	}

.arrow-down:after {
	content: "";
    border-color:  red transparent transparent transparent;
    border-style:solid;
    border-width:10px;
    width:0;
    height:0;
    position:absolute;
    bottom:45px;
    left:40px
	}
	
.legend-box {
	float: left;
    width: 10px;
    height: 10px;
    margin: 5px;
    border: 1px solid grey;
}

.legend-text{
	margin-right:5px;
}

.convistaLegend {
	background-color: white;
	border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
    white-space: nowrap;
    border-radius: 5px;
    margin-right: 5px;
}

.convistaLegend > h3{
	margin:5px;	
}