.myUI5Table-auto-size {
	
}

div[class*="myUI5Table-auto-size"] > div:nth-child(1){
	width: 100%;
}

div[class*="myUI5Table-auto-size"] > div:nth-child(2){
	height: calc(100% - 40px);
	width: 100%;
}
/* Make sure tree table is not overlapping any other component once it is hidden*/
.convistaTreeTableExpanded {
	z-index:1;
}

span[class*="sapUiTableTreeIcon "]{
	margin-top: 5px;
}

.treeTableLabel{
	line-height:23px;
}

.treeTableLabelM{
	line-height:32px;
	margin-top: 8px;
}

.treeTableButtonRight {
	position: absolute;
	right: -15px;
}

.treeTableButtonRightM {
	position: absolute;
	right: 2px;
	margin-top: 8px;
}

.treeTableButtonRight > span {
	color:#adadad!important;
}

.treeTableButtonRightM > span {
	color:#adadad!important;
}

.convistaTreeToolbar{
	padding-left: 0px!important;
	background-color: white;
	border: 1px solid #cccccc;
}

.convistaTreeToolbar:hover {
	border-color: #007cc0;
}

.convistaTreeToolbar > div {
	margin-left:0px!important;
}

.convistaCollapseButtonM {
	height: 3rem!important;
}

.convistaCollapseButtonM .sapMBtnContent{
	/* color:#00679e; */
	color:#666666;
}

.treeTableNoRowLines {
    
}

div[class*="treeTableNoRowLines"] td {
	border-bottom: 0px solid red!important;
}

span[class*="myTriCb"] {
	display: block!important;
	text-overflow: ellipsis;
}

.triStateCheckBoxSelected div:before {
   content: "\e05b";
  font-family: "SAP-icons";
  color: #007cc0;
}

.triStateCheckBoxMixed div:before {
   content: "\e17b";
  font-family: "SAP-icons";
  color: #007cc0;
}